@font-face {
    font-family: NeueFont;
    src: url("../Fonts/HelveticaNeue.ttf");
}

@font-face {
    font-family: NeueFontBold;
    src: url("../Fonts/helvetica-neue-bold.ttf");
}

@font-face {
    font-family: NeueFontMedium;
    src: url("../Fonts/HelveticaNeue Medium.ttf");
}

@font-face {
    font-family: NeueFontLight;
    src: url("../Fonts/HelveticaNeue-Light.otf");
}

@font-face {
    font-family: NeueFontThin;
    src: url("../Fonts/HelveticaNeue-Thin.otf");
}

#album{
    padding-left:5%;
    padding-right:5%;
    width:920px;
    margin:0 auto;
    height:550px;
    margin-bottom:40px;
}

.albumImg{
    float:left;
}

.albumImg{
    text-decoration: none;
    margin-bottom:10px;
}

.albumImg div {
    width:220px; 
    height:150px; 
    background-repeat:no-repeat; 
    background-size:cover;
    background-position:center;
    margin-left:5px;
    margin-right:5px;
    font-size: 4em;
    font-family: NeueFontThin;
}

#imgDesc{
    color:#2E3A38;
    background-color:none;
    opacity:0;
    -webkit-transition: opacity 0.25s ease-in-out;
    -moz-transition: opacity 0.25s ease-in-out;
    -o-transition: opacity 0.25s ease-in-out;
    transition: opacity 0.25s ease-in-out;
    position:relative;
    top:0;
    left:0;
    width:210px;
    height:140px;
    margin: 0;
    padding:5px;
}

#imgDesc span{
    font-size:1.2em;
    font-family: NeueFont;
}

#imgDesc:hover {
    background-color: whitesmoke;
    opacity:0.9;
}

html{
    font-size:16px;
    font-family: NeueFont;
}

body {
    font-size: 0.0625em;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    height:100%;
    width:100%;
    color: #2E3A38;
}

#nav-icon{
    display:none;
    position:fixed;
    top:20px;
    right:20px;
    z-index:201;
}

/* Icon 3 */

#nav-icon3{
  width: 40px;
  height: 40px;
  position: relative;
  margin: 0 auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 1s ease-in-out;
  -moz-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  cursor: pointer;
}

#nav-icon3 span{
  display: block;
  position: absolute;
  height: 8px;
  width: 100%;
  background: #2E3A38;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

#nav-icon3 span:nth-child(1) {
  top: 0px;
}

#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
  top: 12px;
}

#nav-icon3 span:nth-child(4) {
  top: 24px;
}

#nav-icon3.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

/* */

#_home,#_about,#_portfolio,#_faq,#_contact{
    position:relative; 
    left:0; 
    top:-100px; 
    width:0;
    height:0px;
}

.button_static {
    border-radius: 10px;
    color: white;
    line-height:2.8em;
    font-size:18em;
    width:15em;
    text-align: center;
    margin: 0 auto;
    margin-top:3em;
    cursor: pointer;
    border-width: 4px;
    border-style: solid;
    border-color: #0099FF;
    background: #0099FF;
    transition: all 0.3s ease 0s;
}

.button {
    border-radius: 10px;
    background: none;
    color: #0099FF;
    line-height:2.8em;
    font-size:18em;
    width:10em;
    text-align: center;
    margin: 0 auto;
    margin-top:2em;
    cursor: pointer;
    border-style: solid;
    border-width: 4px;
    border-color: #0099FF;
    transition: all 0.3s ease 0s;
}

.button:hover {
    border-style: solid;
    border-color: #0099FF;
    background: #0099FF;
    color:white;
}

.introduction{
    padding-top:80em; 
    padding-bottom:80em;
}

#home{
    background-image: url("../images/bgimg.png");

    width: 90%;
    height: auto;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #333333;
    padding-left:5%;
    padding-right:5%;
}

.introTop{
    display:table;
    margin: 0 auto;
    color:#FFFFFF;
    font-size: 40em;
    font-family: NeueFontThin;
    text-align: center;
}


.introMiddle{
    display:table;
    margin: 0 auto;
    color:#FFFFFF;
    font-size: 65em;
    font-family: NeueFont;
    line-height: 1.8em;
    text-align: center;
}

.introBottom{
    display:table;
    margin: 0 auto;
    color:#FFFFFF;
    font-size: 30em;
    font-family: NeueFontThin;
    text-align: center;
}

#content{
    position:relative;
    top:80px;
    z-index: 0;
}

#portfolio h1{
    font-size: 30em;
    font-family:NeueFontLight;
    width:100%;
    text-align:center;
    line-height:3em;
}

#about{
    background-image: url("../images/ONG_padding.png");
    height: auto;
    background-attachment: fixed;
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #131f2d;
    padding-top:30em;
    padding-bottom:30em;
    padding-left:5%;
    padding-right:5%;
    width:90%;
}

#about p{
    font-family: NeueFontThin;
    font-size:23em;
    text-align:right;
    margin-right:0;
    margin-left:auto;
    width:620px;
    color:white;
}


#about a{
    font-family: NeueFontThin;
    color:#0099FF;
    text-decoration: none;
}

#about a:hover{
    font-family: NeueFontThin;
    color:#0000FF;
    text-decoration: none;
}

#header{
    height: 80px;
    width:90%;
    position:fixed;
    top:0;
    left:0;
    padding-left: 5%;
    padding-right: 5%;
    z-index: 100;
}

.bg{
    background-image: url("../images/swirl.png");
    background-size: 90px 90px;
}

#logo{
    background-image: url("../images/logo.png");
    background-size:contain;
    background-repeat: no-repeat;
    background-position: left center;
    height: 70px;
    width: 61px;
    margin-right: 1.5%;
    margin-top:5px;
    margin-bottom:5px;
    padding: 0 0 0 0;
    float:left;
    cursor: pointer;
}

#label{
    float:left;
    width:30%;
    height:auto;
}

#name{
    float:left;
    width:100%;
    height:auto;
    font-size: 32em;
    line-height: 1em;
    margin: 0 auto;
    margin-top:10px;
    cursor: pointer;
}

#title{
    width:100%;
    float:left;
    height:auto;
    font-size: 20em;
    margin: 0 auto;
    margin-top: 3px;
    font-family: NeueFontThin;
    cursor: pointer;
}

#nav {
    height:100%;
    width:60.5%;
    margin: 0 0 0 0;
    float:right;
}

#nav ul{
    list-style: none;
    font-size: 22em;
    float:right;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    height:100%;
    width:auto;
}

#nav-menu{
    display:none;
}

#nav li {
    float:left;
    margin-left: 0.7em;
    margin-right: 0.7em;
    margin-top:1em;
}

#nav li:last-child {
    margin-right:0;
}

#nav li a{
    color: #2E3A38;
    cursor: pointer;
    text-decoration: none;
}

#nav li a:hover{
    color:#0099FF;
    cursor: pointer;
    text-decoration: none;
}

#skills{
    padding-left:5%;
    padding-right:5%;
    height:auto;
    width:90%;
    float:left;
}
#skills div{
    font-size:26em;
    font-family: NeueFontLight;
    float:left;
    width:15em;
    margin-top: 2em;
    margin-right: 1em;
    margin-bottom: 2em;
}

#skills div span,ul{
    float:left;
    width:100%;
    line-height:1.8em;
}

#skills div ul{
    font-size:0.7em;
    line-height:1em;
    margin-top:0;
    margin-bottom:0;
    padding-left:10%;
    width:90%;
}

#skills div ul li{
    line-height:1.5em;
}

#skills h1{
    font-size:26em;
    font-family: NeueFontBold;
    margin-right: 2em;
    float:left;
    line-height:1.8em;
    margin-top: 2em;
}

#faq{
    background-color: #131f2d;
    width:90%;
    height:auto;
    padding-left:5%;
    padding-right:5%;
    float:left;
    color:white;
}

.faqimg1{
    background-image: url("../images/UX_UI_bluereddull.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 50%;
    height:300px;
    margin: 0 0 0 0;
    float:left;
    margin-top: 40em;
}

.faqimg2{
    background-image: url("../images/Elephant.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 50%;
    height:300px;
    margin: 0 0 0 0;
    float:left;
    margin-top: 30em;
}

.faqtitle1{
    height:auto;
    text-align: center;
    width:50%;
    font-size:35em;
    margin-top:3em;
    float:left;
    font-family: NeueFontBold;
}

.faqtitle2{
    height:auto;
    text-align: center;
    width:50%;
    font-size:35em;
    margin-top:4.5em;
    float:left;
    font-family: NeueFontBold;
}

#faq a{
    font-family: NeueFont;
    color:#0099FF;
    text-decoration: none;
}

#faq a:hover{
    font-family: NeueFont;
    color:#0000FF;
    text-decoration: none;
}

.faqparagraph{
    width:100%;
    height:auto;
    float:left;
    font-size:23em;
    font-family: NeueFontThin;
    margin-bottom:0;
}

.button_link{
    text-decoration: none;
}

#contact{
    float:left;
    width:90%;
    padding-left:5%;
    padding-right:5%;
}

#contact h1{
    font-size:30em;
    width:100%;
    text-align: center;
    margin: 0 0 0 0;
    margin-top:2em;
    font-family: NeueFontLight;
}

#contact h2{
    font-size:22em;
    width:100%;
    text-align: center;
    margin: 0 0 0 0;
    margin-top:1.5em;
    font-family: NeueFontLight;
}

#contact a{
    text-decoration: none;
    width:100%;
    height:100%;
}

.contactphone{
    background-image: url("../images/phoneicon.png");
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
    width:30px;
    height:40px;
    margin: 0 10em 0 0 ;
    float:left;
}

.contactemail{
    background-image: url("../images/mailicon.png");
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
    width:30px;
    height:40px;
    margin: 0 10em 0 0 ;
    float:left;
}

.contactlocation{
    background-image: url("../images/locationicon.png");
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
    width:30px;
    height:40px;
    margin: 0 10em 0 0 ;
    float:left;
}

.contactinfo{
    width: auto;
    margin: 0 auto;
    height: 40em;
    width: 321em;
}

.contactaddress{
    width: auto;
    margin: 0 auto;
    height: 80em;
    width: 321em;
}

.contactinfo span{
    width:auto;
    font-size: 20em;
    line-height:2em;
    text-align: left;
    margin: 0 0 0 0;
    margin-top: 0;
    float:left;
    font-family: NeueFontLight;
}

.contactaddress span{
    width:auto;
    font-size: 20em;
    line-height:2em;
    text-align: left;
    margin: 0 0 0 0;
    margin-top: 0;
    float:left;
    font-family: NeueFontLight;
}

.iconContainer{
    width: 120px;
    height: 50px;
    margin: 22em auto;
}

.iconFB{
    background-image: url("../images/facebook.png");
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
    width:50px;
    height:50px;
    margin: 0 auto;
    float:right;
}

.iconLinked{
    background-image: url("../images/linkedin.png");
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
    width:50px;
    height:50px;
    margin: 0 auto;
    float:left;
}

.copyright{
    font-size:12em;
    font-family:NeueFont;
    color: #999999;
    margin-top:2em;
    margin-bottom:2em;
    text-align: center;
}
@media only screen and (max-device-width: 1024px) {
    #about{
        background-attachment: scroll;
    }
    
    #home{
        background-attachment:scroll;
    }
}

@media screen and (max-width: 1040px) {
    #album{
        width: 460px;
        height:960px;
    }
}

@media screen and (max-width: 1200px) {
    #skills h1{
        width: 100%;
        text-align: center;
    }
    
    #skills div{
        width:48%;
        margin: 0 0 2em 0;
        text-align:center;
        padding-right:2%;
    }
    
    #skills div ul{
        list-style:none;
        padding-left: 10%;
        padding-right: 10%;
        width:80%;
        text-align: center;
        list-style-type: none;
        font-family: NeueFontThin;
        font-size:0.65em;
    }
    
}

@media screen and (max-width: 950px) {
    
    #nav{
        width:auto;
        float:none;
        margin:0 auto;
        display:table;
        height:auto;
    }
    
    #nav ul{
        float:none;
    }
    
    #nav li:first-child {
    margin-left:0;
    }   
    
    #label,#name,#title{
        width:100%;
        text-align: center;
    }
    
    #logo{
        width:100%;
        background-position: center;
    }
    
    #header{
        height:220px;
    }
    
    #content{
        top:220px;
    }
    
    #about{
        background-image: url(../images/ONG_padding_2.png);
    }
    
    #_home,#_about,#_portfolio,#_faq,#_contact{
        top:-220px; 
    }

}

@media screen and (max-width: 880px) {
    
    #skills div.col1{
        width:100%;
        margin:0 0 0 0;
    }
    
    #skills div.col2{
        width:100%;
    }
    
    #about{
        background-image: none;
    }
    
    #about p {
        text-align: center;
        width:100%;
        margin-right:auto;
    }

}

@media screen and (max-width: 750px) {
    
    .faqimg1,.faqimg2{
        display:none;
    }
    
    .faqtitle1{
        width:100%;
    }
    
    .faqtitle2{
        width:100%;
        margin-top:2em;
    }
    
    .faqparagraph{
        text-align:center;
    }
    
}

@media screen and (max-width: 600px) {
    
    .introMiddle{
        line-height:1em;
    }
    
    #header{
        height:auto;
        padding: 0 0 0 0;
        width:100%;
    }
    
    .introBottom{
        margin-top: 1em;
        font-size: 20em;
    }
    
    .introTop{
        margin-bottom: 0.5em;
        font-size: 30em;
    }
    
    .introduction{
        padding-top:40em; 
        padding-bottom:40em;
    }
    
    #content{
        top:80px;
    }
    
    #nav{
        position:fixed;
        top:80px;
        left:0;
        z-index:200;
    }
    
    #nav-icon{
        display:block;
    }
    
    #nav ul{
        overflow: hidden;
        height:0px;
    }
    
    #nav,#nav ul,#nav li {
        width:100%;
        background-image: url("../images/swirl.png");
        background-size: 90px 90px;
    }
    
    #nav-list{
        display:none;
    }
    
    #nav-menu{ 
        display:block;
        -webkit-transition: height 0.5s ease-in-out 0s;
        -moz-transition: height 0.5s ease-in-out 0s; 
         -o-transition: height 0.5s ease-in-out 0s;  
        transition: height 0.5s ease-in-out 0s;
    }
    
    #nav li {
        margin-left:0%;
        margin-right:0%;
        padding-left:0%;
        padding-right:0%;
        margin-top:0;
        padding-top:0em;
        padding-bottom:0em;
        width:100%;
        text-align: center;
    }
    
     #nav li div{
        margin-left:0%;
        margin-right:0%;
        padding-left:5%;
        padding-right:5%;
        margin-top:0;
        padding-top:0.5em;
        padding-bottom:0em;
        width:90%;
        text-align: center;
    }
    
    #nav li:first-child{
        padding-top:0px;
        padding-bottom:0;
    }
    
    #nav li:last-child{
        padding-bottom:0.5em;
    }
    
    #logo{
        margin-left:5%;
        margin-right:5%;
        width:90%;
        float:left;
    }
    
    #label{
        margin-left:5%;
        margin-right:5%;
        width:90%;
        display:none;
    }
    
    #title{
        margin-bottom:0.62em;
    }
    
    #_home,#_about,#_portfolio,#_faq,#_contact{
        top:-80px; 
    }
    
}

@media screen and (max-width: 530px) {
    
    #album{
        width: 90%;
        height:2510px;
    }
    
    .albumImg {
        width:100%; 
        height:200px; 
        margin-bottom:10px;
    }
    
    .albumImg div{
        width:100%; 
        height:200px; 
        margin-left:0;
        margin-right:0;
    }
    
    #imgDesc {
        width:96%;
        height:190px;
        padding-left:2%;
        padding-right:2%;
    }
}

@media screen and (max-width: 400px) {
    
   .contactinfo span{
        font-size: 16em;
        line-height:2.5em;
    }

    .contactaddress span{
        font-size: 16em;
        line-height:2.5em;
    }
    
    #skills div {
        font-size: 20em;
    }
    
    .faqtitle1 {
        margin-top:2em;
    }
    
    .faqtitle1,.faqtitle2 {
        font-size: 25em;
    }
}