<div class="content">
  <content-window sectionId="home"
  [params]='{bgImg:"assets/images/bgimg.png", bgColor:"#333333", bgPosition: "center", bgSize:"cover"}'>
    <div class="introduction">
      <span class="introTop">Hello, my name is Christopher and I'm a</span>
      <span class="introMiddle">Full-Stack Developer</span>
      <span class="introBottom">born, raised, and based in the GTA</span>
      <span><a href="#portfolio" class="button_static button_link"><span>SEE MY LATEST WORK</span></a></span>
    </div>
  </content-window>

  <content-window sectionId="portfolio" sectionTitle="Portfolio" center=true
  [params]='{bgColor:"#FFFFFF"}'>
  <gallery></gallery>
  </content-window>

  <content-window sectionId="about"
  [params]='{bgImg:"assets/images/ONG_padding.png", bgColor:"#131f2d",
  bgPosition: "left bottom", bgSize:"contain", paddingTop: "30em", paddingBottom: "30em"}'>>
    <p>
      I am a passionate front-end developer and UX/UI designer based out of Toronto, who firmly believes that design is the difference between a functional product and a <i>successful</i> product. This is why I dedicate my time to working closely with great companies, making sure we deliver an enjoyable experience to every customer at every step of interaction.
    </p>
    <p>
      I work closely with your team, your customers and your stakeholders, to make sure that we deliver exactly what they need and desire, while keeping a close eye on your business goals & objectives. I am independent and take initiative, but I thrive in collaborative and fast paced work environments.
    </p>
    <p>
      How can I put my skills to work for you? <a [routerLink]="['/']" fragment="contact">Contact me to find out!</a>.
    </p>

  </content-window>

  <content-window sectionId="skills" sectionTitle="Skills"
  [params]='{bgColor:"#FFFFFF", paddingTop: "30em", paddingBottom: "30em"}'>
    <col-list></col-list>
  </content-window>

  <content-window sectionId="faq"
  [params]='{bgColor:"#131f2d", paddingTop: "30em", paddingBottom: "30em"}'>
    <div class="faqimg1"></div>
    <h1 class="faqtitle1">
      WHY PURSUE UX & UI DESIGN WITH AN ENGINEERING DEGREE?
    </h1>

    <p class="faqparagraph">
      The reason that I talk about UX/UI design in development is because the Systems Design Engineering program at the University of Waterloo focuses on much more than your typical STEM (science, technology, engineering, and mathematics) program.
    </p>
    <p class="faqparagraph">
      Systems Design focuses on a more holistic view of engineering which incorporates a user centered design process. Over my five year degree, I was given many opportunities in the work force and in class projects to develop my UX/UI skills. This exposure nurtured my passion for UX/UI development and I like to bring this mentality into everything I do.
    </p>

    <h1 class="faqtitle2">
      WHAT IS SYSTEMS DESIGN ENGINEERING?
    </h1>
    <div class="faqimg2"></div>

    <p class="faqparagraph">
      Going back to my Intro to Systems Design Engineering class at the University of Waterloo, the instructor told us the story of "<a href="https://en.wikipedia.org/wiki/Blind_men_and_an_elephant" target="_blank">the blind men and the elephant</a>". In the story, multiple blind men examined different parts of an elephant. Each blind man comes to a different conclusion on what the elephant based upon what they inspected.
    </p>
    <p class="faqparagraph" style="margin-bottom:3em;">
      Instead of examining each part separately, Systems Design looks at the big picture (the whole elephant) and how the various parts interact. This approach is ideal to learning valuable skills in full stack development and gave me the skills to communicate effectively with various demographics (everyone from CEOs to programmers to graphic designers.)
    </p>
  </content-window>

  <content-window sectionId="contact" sectionTitle="Contact Information" center=true
  [params]='{bgColor:"#FFFFFF", paddingTop: "30em", paddingBottom: "30em"}'>

    <h2>Interested in working with me?</h2>
    <span>
      <a class="button" a href="mailto:c.david.ong@gmail.com?Subject=Website%20Job%20Contact">
        <span>GET IN TOUCH</span>
      </a>
    </span>

    <div class="contactinfo" style="margin-top:40em;">
      <div class="contactemail"></div>
      <span> : c.david.ong@gmail.com</span>
    </div>

    <div class="contactinfo">
      <div class="contactphone"></div>
      <span> : (519) 496-6692</span>
    </div>

    <div class="iconContainer">
      <a class="icon" href="https://www.linkedin.com/in/Cd2ong" target="_blank"><div class="iconLinked"></div></a>
      <a class="icon" href="https://facebook.com/cd2ong" target="_blank"><div class="iconFB"></div></a>
      <a class="icon" href="https://www.github.com/cd2ong" target="_blank"><div class="iconGit"></div></a>
    </div>

    <div class="copyright">© 2020 CHRISTOPHER ONG</div>
  </content-window>
</div>
